/** wrapper **/
.wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/** nav **/
nav {
    width: 100%;
    height: 20%;
    background-color: burlywood;
    display: flex;
    box-shadow: 5px 1px 1px 1px;
    border: 2px solid beige;
    border-radius: 20px;

}
nav li {
    display: inline-block;
    float: left;
    margin: 5px 40px 5px 40px;
    padding: 5px;
    align-items: center;
    box-shadow: 5px 1px 1px 1px;
    text-align: center;
    background-color: beige;
    border-radius: 5px;
}

nav li a {
    color: tomato;
    list-style: none;
    text-decoration: none;
    font-size: 1.3em;
    margin-right: 5px;
    padding: 15px;
    font-family: 'Work Sans', sans-serif;
    align-items: center;
    text-align: center;

}

.headImg {
    width: 100%;
    margin: 0;
    padding: 0;
}
.hI {
    width: auto;
}





/** body **/



body{
    background-color:tomato;
    font-family: 'Work Sans', sans-serif;
}

/** songs **/

#songList {
    border: 2px solid beige;
    border-radius: 30px;
    margin-top: 2%;
    background-color: burlywood;
}

#songList li {
    margin: 2%;
    display: flex;
    flex-flow: column;
    background-color: beige;
    border-radius: 11px;
    box-shadow: 1px 1px 5px 1px;
    max-width: 80%;
    font-size: 1.1em
}

#songList h2 {
    margin: 0;
    padding: 0;
    text-decoration: underline;
    padding-left: 8%;
    margin: 4% auto 1% 1%
}


/** Cards **/
.main {
    width: 90%;
    height: 40%;
    border: 3px solid tomato;
}

.artists {
    margin: 40px auto 0 auto;
    width: 95%;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;
}


.one {
    width: 425px;
    box-sizing: border-box;
    padding: 10px;
    background-color: honeydew;
    box-shadow: 5px 5px 15px 5px;
    align-self: center;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    align-items: flex-stretch;
    
}

.one img {
    margin: 40px auto 0 auto;
    width: 95%;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.BeatH {
    font-family: 'Bellefair', serif;
}

.Ken {
    font-family: 'Quicksand', sans-serif;
}

.BobH {
    font-family: 'Indie Flower', cursive
}

.QueenH {
    font-family: 'Shrikhand', cursive;
}

.JimiH {
    font-family: 'Lobster', cursive;
}

/** sections **/


/** footer **/
.footer img {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
}
.footer {
    display: flex;
    margin: auto;
    width: 5%;
    height: 5%;
    flex: auto;
}

/** adding music **/

#addMusicView {
    display: none;
}


.deltButton{
    
}